<section>
  <h1>parcel test</h1>
  <ul class="my__ol">
    <li>создать репозиторий и склонировать его</li>
    <li>
      скопировать все файли зайдя в папки в диске D MIGIT и вставить в папку
      нового репозитория
    </li>
    <li>в файле package.json изменить имя на ново имя репозитория</li>
    <li>запустить npm i npm start</li>
    <li>
      на гит хабе вибрать Settings Actions General в последнем абзаце выбрать
      первую и последнюю галочку
    </li>
    <li>запушить изменение push origin</li>
    <li>посмотреть стадию деплоя</li>
    <li>вибрать в Pages ветку gh-pages save</li>
    <li>сайт готов</li>
  </ul>
</section>
